<app-nav-menu></app-nav-menu>
<section class="register-block">
  <div class="container signLog i-am-centered">
    <div class="row">
      <div class="col-md-4 register-sec">
        <h2 class="text-center">Register Assistant</h2>
        <form class="login-form" method="post" [formGroup]="insertForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="as_username" class="text-uppercase">Username</label>
            <input id="as_username" formControlName="as_username" type="text" class="form-control" placeholder="" required autofocus>
            <div *ngIf="as_username.touched && as_username.errors" class="errorMessage">
              <span *ngIf="as_username.hasError('required')">UserName is required.</span>
              <span *ngIf="as_username.hasError('maxlength')">Only 50 characters allowed for UserName.</span>
              <span *ngIf="as_username.hasError('minlength')">Atleast 5 characters needed for UserName.</span>
            </div>
          </div>
          <div class="form-group">
            <label for="as_password" class="text-uppercase">Password</label>
            <input id="as_password" formControlName="as_password" type="password" class="form-control" placeholder="" required>
            <div *ngIf="as_password.touched && as_password.errors" class="errorMessage">
              <span *ngIf="as_password.hasError('required')">Password is required.</span>
              <span *ngIf="as_password.hasError('maxlength')">Only 50 characters allowed for password.</span>
              <span *ngIf="as_password.hasError('minlength')">Atleast 6 characters needed for password.</span>
              <span *ngIf="as_password.hasError('pattern')">Required 1 uppercase, 1 lowercase, 1 digit, 1 non-alphanumerical.</span>
            </div>
          </div>
          <div class="form-group">
            <label for="ConfirmPassword" class="text-uppercase">Confirm Password</label>
            <input id="ConfirmPassword" formControlName="ConfirmPassword" type="password" class="form-control" placeholder="" required>
            <div *ngIf="ConfirmPassword.touched && ConfirmPassword.errors" class="errorMessage">
              <span *ngIf="ConfirmPassword.hasError('required')">Confirm Password is required.</span>
              <span *ngIf="ConfirmPassword.hasError('mustMatch')">Password Must Match.</span>
            </div>
          </div>
          <div class="form-group">
            <label for="as_email" class="text-uppercase">Email</label>
            <input id="as_email" formControlName="as_email" type="email" class="form-control" placeholder="eg: hadiisaleh@outlook.com">
            <div *ngIf="as_email.touched && as_email.errors" class="errorMessage">
              <span *ngIf="as_email.hasError('required')">Email is required.</span>
              <span *ngIf="as_email.hasError('email')">Please provide valid email.</span>
            </div>
          </div>
          <div class="form-group">
            <label for="as_phone" class="text-uppercase">PhoneNumber</label>
            <input id="as_phone" formControlName="as_phone" type="tel" class="form-control" placeholder="eg: +961 03051763">
            <div *ngIf="as_phone.touched && as_phone.errors" class="errorMessage">
              <span *ngIf="as_phone.hasError('required')">PhoneNumber is required.</span>
              <span *ngIf="as_phone.hasError('pattern')">Please provide valid phone number.</span>
            </div>
          </div>
          <div class="form-group">
            <label for="as_fname" class="text-uppercase">firstname</label>
            <input id="as_fname" formControlName="as_fname" type="text" class="form-control" placeholder="" required autofocus>
            <div *ngIf="as_fname.touched && as_fname.errors" class="errorMessage">
              <span *ngIf="as_fname.hasError('required')">FirstName is required.</span>
              <span *ngIf="as_fname.hasError('maxlength')">Only 50 characters allowed for FirstName.</span>
              <span *ngIf="as_fname.hasError('pattern')">Only alphabetical letters allowed</span>
            </div>
          </div>
          <div class="form-group">
            <label for="as_mname" class="text-uppercase">midlename</label>
            <input id="as_mname" formControlName="as_mname" type="text" class="form-control" placeholder="" required autofocus>
            <div *ngIf="as_mname.touched && as_mname.errors" class="errorMessage">
              <span *ngIf="as_mname.hasError('required')">MidleName is required.</span>
              <span *ngIf="as_mname.hasError('maxlength')">Only 50 characters allowed for MidleName.</span>
              <span *ngIf="as_mname.hasError('pattern')">Only alphabetical letters allowed</span>
            </div>
          </div>
          <div class="form-group">
            <label for="as_lname" class="text-uppercase">lastname</label>
            <input id="as_lname" formControlName="as_lname" type="text" class="form-control" placeholder="" required autofocus>
            <div *ngIf="as_lname.touched && as_lname.errors" class="errorMessage">
              <span *ngIf="as_lname.hasError('required')">LastName is required.</span>
              <span *ngIf="as_lname.hasError('maxlength')">Only 50 characters allowed for LastName.</span>
              <span *ngIf="as_lname.hasError('pattern')">Only alphabetical letters allowed</span>
            </div>
          </div>
          <div class="form-group">
            <label for="as_address" class="text-uppercase">Address</label>
            <input id="as_address" formControlName="as_address" type="text" class="form-control" placeholder="" required autofocus>
            <div *ngIf="as_address.touched && as_address.errors" class="errorMessage">
              <span *ngIf="as_address.hasError('required')">Address is required.</span>
              <span *ngIf="as_address.hasError('maxlength')">Only 100 characters allowed for Address.</span>
              <span *ngIf="as_address.hasError('minlength')">Atleast 5 characters needed for Address.</span>
            </div>
          </div>
          <div class="form-group">
            <label for="as_" class="text-uppercase">Doctor Name</label>
            <input id="as_lname" formControlName="as_lname" type="text" class="form-control" placeholder="" required autofocus>
            <div *ngIf="as_lname.touched && as_lname.errors" class="errorMessage">
              <span *ngIf="as_lname.hasError('required')">LastName is required.</span>
              <span *ngIf="as_lname.hasError('maxlength')">Only 50 characters allowed for LastName.</span>
              <span *ngIf="as_lname.hasError('pattern')">Only alphabetical letters allowed</span>
            </div>
          </div>
          <div class="form-group">
            <input id="register" type="submit" [disabled]="insertForm.invalid" class="btn btn-login btn-block" />
          </div>
        </form>

      </div>
    </div>
  </div>
</section>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">JWT_Auth Registration</h4>
    <button type="button" class="close pull-right" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <p class="list-group-item active">{{modalMessage}}</p>
    <ul class="list-group" *ngFor="let erro of errorList">
      <li class="list-group-item">{{erro}}</li>
    </ul>
  </div>
</ng-template>
