.i-am-centered {
  margin: auto;
  max-width: 600px;
}

.col-md-4 {
  flex: 0 0 80%;
  max-width: 100%;
}

.register-block {
  background: #DE6262; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #FF5555,#60DAFF); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom,#60DAFF,#FF5555); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  float: left;
  width: 100%;
  padding: 50px;
  font-family: 'Roboto', sans-serif;
}

.register-sec h2 {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 50px;
  color: #FF5555;
}

  .register-sec h2:after {
    content: " ";
    width: 180px;
    height: 5px;
    background: #FF5555;
    display: block;
    margin-top: 20px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto
  }

.register-sec {
  padding: 0px 40px 0 40px;
  position: relative;
}

  .register-sec .copy-text {
    position: absolute;
    width: 100%;
    bottom: 20px;
    font-size: 13px;
    text-align: center;
  }

  .register-sec .register-text {
    position: absolute;
    width: 100%;
    bottom: 80px;
    font-size: 13px;
    text-align: center;
  }

    .register-sec .register-text a {
      color: #E36262;
    }

    .register-sec .register-text i {
      color: #FF5555;
    }

  .register-sec .copy-text i {
    color: #FF5555;
  }

  .register-sec .copy-text a {
    color: #E36262;
  }

input[type=submit].btn-block {
  width: 40%;
  margin: auto;
}

.btn-login {
  background: #60DAFF;
  color: #fff;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}

  .btn-login:hover {
    box-shadow: 0 0 0 3px #60DAFF;
  }

  .btn-login:focus {
    box-shadow: 0 0 0 5px #60DAFF;
  }
